@model ZeroHunger.DTOs.FoodItem.FoodItemDTO

@{
    var model = ViewData["AllFoodItems"] as ZeroHunger.DTOs.FoodItem.FoodItemDTO;

}
@*, new { enctype = "multipart/form-data" }*@

@using (Html.BeginForm("CreateNewFoodItem", "FoodSource", FormMethod.Post))
{
    @Html.AntiForgeryToken() <!--//////////////////////////////////////// Bujhi nai 🟢🔰🔴🔗-->

    ////////////////////////////// Food Item er o image upload korar bebostha thakte hobe
    <div style="position:relative; left:250px;" class=" d-flex flex-row justify-content-start align-items-center">

        <h4>Add New Food Item</h4>
    </div>

    <div class="form-horizontal d-flex flex-row justify-content-center align-items-center">

        <hr />
        

        <div class="form-group">
            @*@Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            Name
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })*@
                @*<input type="text" name="name" value="@TempData["nameForCreateFoodItem"] == null ? " " : @TempData["nameForCreateFoodItem"].ToString() )" />*@
                <input type="text" name="name" value="@TempData["nameForCreateFoodItem"]" />


                @*@TempData["nameValidationForCreateFoodItem"]*@
                
            </div>
        </div>

        <div class="form-group">
            Quantity
            
            <div>
                <input type="text" name="quantity" value="@TempData["quantityForCreateFoodItem"]" />
                @*=================@TempData["quantityValidationForCreateFoodItem"]*@
            </div>
        </div>

        <div class="form-group">
            Quantity Unit
            
            <div>
                <input type="text" name="quantityUnit" value="@TempData["quantityUnitForCreateFoodItem"]" />
                
                @*=========================================================@TempData["quantityUnitValidationForCreateFoodItem"]*@
            
        

            </div>
        </div>

        <div class="form-group">
            Max Preservation TIme
            
            <div>
                @*<input type="datetime-local" name="maxPreservationTime" value="@TempData["maxPreservationTimeForCreateFoodItem"]" />*@
                <input type="datetime-local" name="maxPreservationTime" value="@((DateTime)TempData["maxPreservationTimeForCreateFoodItem"]).ToString("yyyy-MM-ddTHH:mm")"  />
                @*value="@((DateTime)TempData["maxPreservationTimeForCreateFoodItem"]).ToString("yyyy-MM-ddTHH:mm")"*@
                
    
    @*==========================@TempData["maxPreservationTimeValidationForCreateFoodItem"]*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.sourceId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            Source Id
            <div class="col-md-10">

                @*<input type="text" disabled name="sourceId" value="@Session["userId"]" />*@

                <input type="text" disabled name="sourceId" value="@Convert.ToInt32(Session["userId"])" />


                @*@Html.ValidationMessageFor(model => model.sourceId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
    <br />
    
}

