@*// This is for FoodSource*@ 
@model IEnumerable<ZeroHunger.EF.CollectRequstForm>

<table class="table">
    <tr>
        <th>
            reqFormId
        </th>
        <th>
            requestStatus
        </th>
        <th>
            createdAt   
        </th>
        <th>
            @*employeeId*@
            employeeId
        </th>
        <th>
            @*ngoId*@
            ngoName

        </th> 
        <th>
            @*@Html.DisplayNameFor(model => model.foodSourceId)*@
            @*foodSourceId*@
            foodSourceName
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.AllCollectRequstForm) {
    <tr>
        <td>
            
            @item.reqFormId
            
        </td>
        <td>
            @item.requestStatus
        </td>
        <td>
            @item.createdAt
        </td>
        <td>
            @item.employeeId
        </td>
        <td>
            @*@item.ngoId*@
            @item.NGO.name
        </td>
        <td>
            @*@item.foodSourceId*@
            @item.FoodSource.name
        </td>
        <td>
            
            @Html.ActionLink("Details", "ShowFoodItemDetailsForACollectRequestForm", new {  id=item.reqFormId })
            @*@Html.ActionLink("Delete", "Delete", new {  id=item.reqFormId })*@
        </td>
    </tr>
}

</table>


